body { background: #90937a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 50px; display: flex; }
.block-cart-0 { color: #b7fa17; font-size: 20px; margin-bottom: 5px; }
.block-notify-1 { color: #ee649b; font-size: 16px; margin-bottom: 5px; }
.block-cart-2 { color: #e9ddce; font-size: 14px; margin-bottom: 5px; }
.block-metrics-3 { color: #39618d; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #e8a429; font-size: 12px; margin-bottom: 5px; }
.block-notify-5 { color: #53067a; font-size: 19px; margin-bottom: 5px; }
.block-session-6 { color: #f85f5f; font-size: 16px; margin-bottom: 5px; }
.block-email-7 { color: #240a62; font-size: 16px; margin-bottom: 5px; }
.block-uploader-8 { color: #cd4fb6; font-size: 19px; margin-bottom: 5px; }